<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyLists()" (deleteTriggered)="deleteLists()"></app-control-tables>
  <p-table #dt [value]="allLists" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="['listName']"
    [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="listName">List Name<p-sortIcon field="listName"></p-sortIcon></th>
          <th colspan="3">
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex">
        <tr>
          <td [attr.title]="data.listName">{{data.listName}}</td>
          <td class="buttonEffect" (click)="onEditRow(data, i)">
            <span class="edit">Edit</span>
          </td>
          <td class="buttonEffect" (click)="onDeleteRow(data.listId)">
            <span class="delete">Delete</span>
          </td>
          <td>
            <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
          </td>
        </tr> 
    </ng-template>
  </p-table>
</main>