<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyPoFBands()"></app-control-tables>
  <table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <!-- <caption>Config - PoF Bands</caption> -->
    <thead>
      <tr>
        <th>Scenario</th>
        <th>Cohort </th>
        <th>Rare</th>
        <th>Unlikely</th>
        <th>Possible</th>
        <th>Likely</th>
        <th>Almost Certain</th>
        <th colspan="3">
          <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sohwnAllPoFBands; let i = index">
        <td [attr.title]="data.scenario.value">{{data.scenario.value}}</td>
        <td [attr.title]="data.cohort.value">{{data.cohort.value}}</td>
        <td [attr.title]="data._1">{{data._1}}</td>
        <td [attr.title]="data._2">{{data._2}}</td>
        <td [attr.title]="data._3">{{data._3}}</td>
        <td [attr.title]="data._4">{{data._4}}</td>
        <td [attr.title]="data._5">{{data._5}}</td>
        <td class="buttonEffect" (click)="onEditRow(data, i)">
          <span class="edit">Edit</span>
        </td>
        <td class="buttonEffect" (click)="onDeleteRow(data.id)">
          <span class="delete">Delete</span>
        </td>
        <td>
          <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
        </td>
      </tr>
      <tr *ngIf="allPoFBands.length > 10">
        <td colspan="11">
          <p-paginator [rows]="10" [totalRecords]="allPoFBands.length" [rowsPerPageOptions]="[10,20,30]"
          (onPageChange)="onPageChange($event)"></p-paginator>
        </td>
      </tr>
    </tbody>
  </table>
</main>