<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyRiskBasedDecisions()" (deleteTriggered)="deleteRiskBasedDecisions()"></app-control-tables>
  <p-table #dt [value]="allRiskBasedDecisions" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
  [globalFilterFields]="['scenario.value','cohort.value', 'poF', 'coF', 'risk', 'band', 'intervention', 'frequency']"
  (onPage)="paginate($event)" [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="scenario.value">Scenario<p-sortIcon field="scenario.value"></p-sortIcon></th>
          <th pSortableColumn="cohort.value">Cohort<p-sortIcon field="cohort.value"></p-sortIcon></th>
          <th pSortableColumn="poF">PoF<p-sortIcon field="poF"></p-sortIcon></th>
          <th pSortableColumn="coF">CoF<p-sortIcon field="coF"></p-sortIcon></th>
          <th pSortableColumn="risk">Risk<p-sortIcon field="risk"></p-sortIcon></th>
          <th pSortableColumn="band">Band<p-sortIcon field="band"></p-sortIcon></th>
          <th pSortableColumn="intervention">Rate Type<p-sortIcon field="intervention"></p-sortIcon></th>
          <th pSortableColumn="frequency">Frequency<p-sortIcon field="frequency"></p-sortIcon></th>
          <th colspan="2">
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
          </th>
          <th>
            <input class="checkbox" type="checkbox" [(ngModel)]="isPageChecked" (change)="onCheckPage($event, dt)">
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex">
        <tr>
          <td [attr.title]="data.scenario.value">{{data.scenario.value}}</td>
          <td [attr.title]="data.cohort.value">{{data.cohort.value}}</td>
          <td [attr.title]="data.poF">{{data.poF}}</td>
          <td [attr.title]="data.coF">{{data.coF}}</td>
          <td [attr.title]="data.risk">{{data.risk}}</td>
          <td [attr.title]="data.band">{{data.band}}</td>
          <td [attr.title]="data.intervention">{{data.intervention}}</td>
          <td [attr.title]="data.frequency">{{data.frequency}}</td>
          <td class="buttonEffect" (click)="onEditRow(data)">
            <span class="edit">Edit</span>
          </td>
          <td class="buttonEffect" (click)="onDeleteRow(data.decisionId)">
            <span class="delete">Delete</span>
          </td>
          <td>
            <input class="checkbox" type="checkbox" [checked]="data.check" (change)="onChecked($event, i)">
          </td>
        </tr>
    </ng-template>
  </p-table>
</main>