<div class="messgae">
  <p-message severity="{{severity}}" text="{{ msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <caption>Config - PoF Bands</caption>
  <thead>
    <tr>
      <th>Scenario</th>
      <th>Cohort </th>
      <th>[>=1]</th>
      <th>[>=2]</th>
      <th>[>=3]</th>
      <th>[>=4]</th>
      <th>[>=5]</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allPoFBands">
      <td>{{data.scenarioId}}</td>
      <td>{{data.cohortId}}</td>
      <td>{{data._1}}</td>
      <td>{{data._2}}</td>
      <td>{{data._3}}</td>
      <td>{{data._4}}</td>
      <td>{{data._5}}</td>
      <td class="buttonEffect" (click)=onEditRow(data)>Edit</td>
      <td class="buttonEffect" (click)="onDeleteRow(data.id)">Delete</td>
    </tr>
  </tbody>
</table>