<main>
  <h2>Cohorts</h2>
  <form action="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="G-flex">
      <div class="labels">
        <div><label for="cohort-name">Cohorts</label></div>
        <div><label for="description">Description</label></div>
      </div>
      <div class="inputs">
        <div><input type="text" id="cohort-name" formControlName="cohorts"></div>
        <div><input type="text" id="description" formControlName="description"></div>
      </div>
    </div>

    <button type="submit">Cohort</button>
  </form>
</main>