@import 'src/assets/styles/variables';

.control {
  max-width: 90vw;
  margin: auto;
}
section {
  margin: auto;

  div {
    button {
      width: 120px;
      margin: 0;
      background-color: $button-table-bg;

      &:hover {
        background-color: $button-table-hover;
      }
    }
  }
}

.menu-tab{
  padding: 0;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 1px;
  border-bottom: 2px solid $border-color;

  span {
    cursor: pointer;
    border: 1px solid $border-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px;

    &:hover {
      background-color: $button-table-hover;
    }
  }

  .selected {
    background-color: $button-table-bg;
  }

  h2 {
    margin: -4px;
  }
}

