<div class="G-flex-justify-center">
  <p-message severity="{{severity}}" text="{{ msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<main [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <h1>Model Configuration</h1>
  <form action="" [formGroup]="formGroup">
    <div class="G-flex-justify-around">
      <div class="G-column gap">
        <div class="G-flex-center-between">
          <label for="model-name">Model</label>
          <input type="text" id="model-name" formControlName="modelName">
        </div>
        <div class="G-flex-center-between">
          <label for="base-year">Base year</label>
          <input type="number" id="base-year" formControlName="baseYear">
        </div>
        <div class="G-flex-center-between">
          <label for="years-to-run">Years to run</label>
          <input type="number" id="years-to-run" value="20" min="1" max="50" formControlName="yearsToRun">
        </div>
        <div class="G-flex-center-between">
          <label>Skip these Lifecycles</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Lifecycles</mat-label>
            <mat-select formControlName="skipTheseLifecycle" multiple>
              <mat-option *ngFor="let lifecycle of skipTheseLifecycles" [value]="lifecycle.value">{{lifecycle.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label>Skip these Asset Sources</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Asset Sources</mat-label>
            <mat-select formControlName="skipTheseAssetSources" multiple>
              <mat-option *ngFor="let assetSource of skipTheseAssetSources" [value]="assetSource.value">{{assetSource.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label>Skip these Unit Classes</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Unit Classes</mat-label>
            <mat-select formControlName="skipTheseUnitClasses" multiple>
              <mat-option *ngFor="let unitClass of skipTheseUnitClasses" [value]="unitClass.value">{{unitClass.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label>Scenarios to Run</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Run</mat-label>
            <mat-select formControlName="scenariosToRun" multiple>
              <mat-option *ngFor="let scenario of scenarioData" [value]="scenario.id">{{scenario.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label>Condition Range</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Range</mat-label>
            <mat-select formControlName="conditionRange">
              <mat-option *ngFor="let range of conditionRange" [value]="range">{{ range }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label for="dataModelOutputTemplate">Data Model Output Templates</label>
          <input type="number" id="dataModelOutputTemplates" min="0" formControlName="dataModelOutputTemplate">
        </div>
        <div class="G-flex-center-between">
          <label for="nr-columns">NR Model Columns</label>
          <input type="number" id="nr-columns" min="0" formControlName="nrModelColumns">
        </div>
      </div>

   <!-------------------------------------------------------------------------------------->

    <div class="G-flex">
      <div class="G-column gap">
         <!-- <input type="checkbox" name="" id="checkbox1" formControlName="unitsAndComponentsSeparated">
        <input type="checkbox" name="" id="checkbox2" formControlName="firstPastPostOption"> -->
         <!-- <label for="checkbox1">Units and Components Separated?</label>
        <label for="checkbox2">First Past the Post Option?</label> -->
        <div class="G-flex-center-between">
          <input type="checkbox" name="" id="checkbox3" class="checkbox" formControlName="debugMode">
          <label for="checkbox3">Debug Mode?</label>
        </div>
        <div class="G-flex-center-between">
          <input type="checkbox" name="" id="checkbox4" class="checkbox" formControlName="allowOverwriteToExceedBudget">
          <label for="checkbox4">Allow Overwrite To Exceed Budget?</label>
        </div>
      </div>
    </div>
    </div>
    
    <button type="submit" *ngIf="!isOnEdit" (click)="addConfig()">Submit</button>
    <button type="submit" *ngIf="isOnEdit" (click)="editConfig()">Edit</button>
    <button type="button" *ngIf="isOnEdit" (click)="goBack()">Go back</button>
  </form>
</main>