<div class="messgae">
  <p-message severity="{{msgDetails?.severity}}" text="{{ msgDetails?.msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<main [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <h1>Model Configuration</h1>
  <form [formGroup]="formGroup">
    <div class="G-flex-justify-around">
      <div class="G-column gap">
        <div class="G-flex-center-between">
          <label for="model-name">Model</label>
          <input type="text" id="model-name" formControlName="modelName">
        </div>
        <div class="G-flex-center-between">
          <label for="base-year">Base year</label>
          <input type="number" id="base-year" min="2021" formControlName="baseYear">
        </div>
        <div class="G-flex-center-between">
          <label for="years-to-run">Years to run</label>
          <input type="number" id="years-to-run" value="20" min="1" max="50" formControlName="yearsToRun">
        </div>
        <div class="G-flex-center-between">
          <label>Skip these Lifecycles</label>
          <p-multiSelect [showHeader]=false  [options]="skipTheseLifecycles"  defaultLabel="Lifecycles" formControlName="skipTheseLifecycle" optionLabel="value" optionValue="id" ></p-multiSelect>
        </div>
        <div class="G-flex-center-between">
          <label>Skip these Asset Sources</label>
          <p-multiSelect [showHeader]=false [options]="skipTheseAssetSources" defaultLabel="Asset Sources" optionLabel="value" optionValue="id" formControlName="skipTheseAssetSources"></p-multiSelect>
        </div>
        <div class="G-flex-center-between">
          <label>Skip these Unit Classes</label>
          <p-multiSelect [showHeader]=false [options]="skipTheseUnitClasses" defaultLabel="Unit Classes" optionLabel="value" optionValue="id" formControlName="skipTheseUnitClasses"></p-multiSelect>
        </div>
        <div class="G-flex-center-between">
          <label>Scenarios to Run</label>
          <p-multiSelect [showHeader]=false [options]="scenarioData" defaultLabel="Scenarios to Run" optionLabel="value" optionValue="id" formControlName="scenariosToRun"></p-multiSelect>
        </div>
        <div class="G-flex-center-between">
          <label>Condition Range</label>
          <p-dropdown [options]="conditionRange" formControlName="conditionRange" editable="true"></p-dropdown>
        </div>
        <div class="G-flex-center-between">
          <label for="dataModelOutputTemplate">Data Model Output Templates</label>
          <input type="text" id="dataModelOutputTemplates" min="0" formControlName="dataModelOutputTemplate">
        </div>
        <div class="G-flex-center-between">
          <label for="nr-columns">NR Model Columns</label>
          <input type="number" id="nr-columns" min="0" formControlName="nrModelColumns">
        </div>
      </div>

   <!-------------------------------------------------------------------------------------->

    <div class="G-flex">
      <div class="G-column gap">
         <!-- <input type="checkbox" name="" id="checkbox1" formControlName="unitsAndComponentsSeparated">
        <input type="checkbox" name="" id="checkbox2" formControlName="firstPastPostOption"> -->
         <!-- <label for="checkbox1">Units and Components Separated?</label>
        <label for="checkbox2">First Past the Post Option?</label> -->
        <div class="G-flex-center-between">
          <input type="checkbox" name="" id="checkbox3" class="checkbox" formControlName="debugMode">
          <label for="checkbox3">Debug Mode?</label>
        </div>
        <div class="G-flex-center-between">
          <input type="checkbox" name="" id="checkbox4" class="checkbox" formControlName="allowOverwriteToExceedBudget">
          <label for="checkbox4">Allow Overwrite To Exceed Budget?</label>
        </div>
        <div class="G-flex-center-between">
          <input type="checkbox" name="" id="checkbox5" class="checkbox" formControlName="allowSurplusBudgetRollover">
          <label for="checkbox5">Allow Surplus Budget Rollover?</label>
        </div>
      </div>
    </div>
    </div>
    
    <button type="submit" *ngIf="!isOnEdit" (click)="addConfig()">Submit</button>
    <button type="submit" *ngIf="isOnEdit" (click)="editConfig()">Submit</button>
  </form>
</main>