<!-- <alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables [needRun]="true" (runTriggered)="runModel()" (copyTriggered)="copyModel()"></app-control-tables>
  <div class="display-mod">
    <div class="G-flex-center-start model">
      <h2>Model</h2>
      <div class="G-flex-center">
        <p-dropdown [options]="models" (onChange)="filterModel($event.value)"></p-dropdown>
      </div>
    </div>
    <table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
      <thead>
        <tr>
          <th>Model</th>
          <th>Base year</th>
          <th>Years to run</th>
          <th>Skip these Lifecycles</th>
          <th>Skip these Unit Classes</th>
          <th>Data Model Output Templates</th>
          <th>NR Model Columns</th>
          <th>Debug Mode</th>
          <th>Scenario Name</th>
          <th>Allow Overwrite To Exceed Budget</th>
          <th>Skip these Asset Sources</th>
          <th>Condition Range</th>
          <th colspan="2">
            <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
          </th>
          <th>Run</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of shownAllModels; let i = index">
          <td [attr.title]="data.modelName">{{data.modelName}}</td>
          <td [attr.title]="data.baseYear">{{data.baseYear}}</td>
          <td [attr.title]="data.yearsToRun">{{data.yearsToRun}}</td>
          <td [attr.title]="data.skipTheseLifecycle">{{data.skipTheseLifecycle}}</td>
          <td [attr.title]="data.skipTheseUnitClasses">{{data.skipTheseUnitClasses}}</td>
          <td [attr.title]="data.dataModelOutputTemplate">{{data.dataModelOutputTemplate}}</td>
          <td [attr.title]="data.nrModelColumns">{{data.nrModelColumns}}</td>
          <td [attr.title]="data.debugMode">{{data.debugMode}}</td>
          <td [attr.title]="data.scenarioName">{{data.scenarioName}}</td>
          <td [attr.title]="data.allowOverwriteToExceedBudget">{{data.allowOverwriteToExceedBudget}}</td>
          <td [attr.title]="data.skipTheseAssetSources">{{data.skipTheseAssetSources}}</td>
          <td [attr.title]="data.conditionRange">{{data.conditionRange}}</td>
          <td *ngIf="!runDate" class="buttonEffect" (click)="onEditRow(data, i)">
            <span class="edit">Edit</span>
          </td>
          <td class="buttonEffect" (click)="onDeleteRow(data.id)">
            <span class="delete">Delete</span>
          </td>
          <td>
            <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
          </td>
        </tr>
        <tr *ngIf="allModels.length > 10">
          <td colspan="15">
            <p-paginator [rows]="10" [totalRecords]="allModels.length" [rowsPerPageOptions]="[10,20,30]"
            (onPageChange)="onPageChange($event)"></p-paginator>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main> -->

<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables [needRun]="true" (runTriggered)="runModel()" (copyTriggered)="copyModel()"></app-control-tables>
  <div class="display-mod">
    <div class="G-flex-center-start model">
      <h2>Model</h2>
      <div class="G-flex-center">
        <p-dropdown [options]="models" (onChange)="filterModel($event.value)"></p-dropdown>
      </div>
    </div>
    <p-table #dt [value]="allModels" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
    [globalFilterFields]="['modelName','baseYear', 'yearsToRun', 'skipTheseLifecycle', 'skipTheseUnitClasses', 'dataModelOutputTemplate', 'nrModelColumns', 'debugMode', 'scenarioName', 'allowOverwriteToExceedBudget', 'skipTheseAssetSources', 'conditionRange']"
      [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="modelName">Model<p-sortIcon field="modelName"></p-sortIcon></th>
            <th pSortableColumn="baseYear">Base year<p-sortIcon field="baseYear"></p-sortIcon></th>
            <th pSortableColumn="yearsToRun">Years to run<p-sortIcon field="yearsToRun"></p-sortIcon></th>
            <th pSortableColumn="skipTheseLifecycle">Skip these Lifecycles<p-sortIcon field="skipTheseLifecycle"></p-sortIcon></th>
            <th pSortableColumn="skipTheseUnitClasses">Skip these Unit Classes<p-sortIcon field="skipTheseUnitClasses"></p-sortIcon></th>
            <th pSortableColumn="dataModelOutputTemplate">Data Model Output Templates<p-sortIcon field="dataModelOutputTemplate"></p-sortIcon></th>
            <th pSortableColumn="nrModelColumns">NR Model Columns<p-sortIcon field="nrModelColumns"></p-sortIcon></th>
            <th pSortableColumn="debugMode">Debug Mode<p-sortIcon field="debugMode"></p-sortIcon></th>
            <th pSortableColumn="scenarioName">Scenario Name<p-sortIcon field="scenarioName"></p-sortIcon></th>
            <th pSortableColumn="allowOverwriteToExceedBudget">Allow Overwrite To Exceed Budget<p-sortIcon field="allowOverwriteToExceedBudget"></p-sortIcon></th>
            <th pSortableColumn="skipTheseAssetSources">Skip these Asset Sources<p-sortIcon field="skipTheseAssetSources"></p-sortIcon></th>
            <th pSortableColumn="conditionRange">Condition Range<p-sortIcon field="conditionRange"></p-sortIcon></th>
            <th colspan="3">
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td [attr.title]="data.modelName">{{data.modelName}}</td>
            <td [attr.title]="data.baseYear">{{data.baseYear}}</td>
            <td [attr.title]="data.yearsToRun">{{data.yearsToRun}}</td>
            <td [attr.title]="data.skipTheseLifecycle">{{data.skipTheseLifecycle}}</td>
            <td [attr.title]="data.skipTheseUnitClasses">{{data.skipTheseUnitClasses}}</td>
            <td [attr.title]="data.dataModelOutputTemplate">{{data.dataModelOutputTemplate}}</td>
            <td [attr.title]="data.nrModelColumns">{{data.nrModelColumns}}</td>
            <td [attr.title]="data.debugMode">{{data.debugMode}}</td>
            <td [attr.title]="data.scenarioName">{{data.scenarioName}}</td>
            <td [attr.title]="data.allowOverwriteToExceedBudget">{{data.allowOverwriteToExceedBudget}}</td>
            <td [attr.title]="data.skipTheseAssetSources">{{data.skipTheseAssetSources}}</td>
            <td [attr.title]="data.conditionRange">{{data.conditionRange}}</td>
            <td class="buttonEffect" (click)="onEditRow(data, i)">
              <span class="edit">Edit</span>
            </td>
            <td class="buttonEffect" (click)="onDeleteRow(data.id)">
              <span class="delete">Delete</span>
            </td>
            <td>
              <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
            </td>
          </tr> 
      </ng-template>
    </p-table>
  </div>
</main>