<div class="messgae">
  <p-message severity="{{severity}}" text="{{ msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <caption>Config - Scenarios</caption>
  <thead>
    <tr>
      <th>Scenario Name</th>
      <th>Validated Option</th>
      <th>Restrict To Budget</th>
      <th>Run</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of allScenarios">
      <td>{{data.scenario}}</td>
      <td>{{data.validatedOption}}</td>
      <td>{{data.restrictToBudget}}</td>
      <td>{{data.run}}</td>
      <td class="buttonEffect" (click)=onEditRow(data)>Edit</td>
      <td class="buttonEffect" (click)="onDeleteRow(data.scenarioId)">Delete</td>
    </tr>
  </tbody>
</table>