<main>
  <h2>Config PoF Bands</h2>
  <form action="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="G-flex">
      <div class="labels">
        <div><label for="scenarioId">Scenario Id</label></div>
        <div><label for="cohortId">Cohort Id</label></div>
        <div><label for="1">[>=1]</label></div>
        <div><label for="2">[>=2]</label></div>
        <div><label for="3">[>=3]</label></div>
        <div><label for="4">[>=4]</label></div>
        <div><label for="5">[>=5]</label></div>
      </div>
      <div>
        <div><input type="text" id="scenarioId" formControlName="scenarioId"></div>
        <div><input type="text" id="cohortId" formControlName="cohortId"></div>
        <div><input type="number" id="1" formControlName="1"></div>
        <div><input type="number" id="2" formControlName="2"></div>
        <div><input type="number" id="3" formControlName="3"></div>
        <div><input type="number" id="4" formControlName="4"></div>
        <div><input type="number" id="5" formControlName="5"></div>
      </div>
    </div>
    
    <button type="submit">Config PoF Bands</button>
  </form>
</main>
