<div class="messgae">
  <p-message severity="{{ msgDetails?.severity }}" text="{{ msgDetails?.msg }}"></p-message>
</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <app-control-tables [path]="createPath"></app-control-tables>
  <table>
    <!-- <caption>Config - PoF Bands</caption> -->
    <thead>
      <tr>
        <th>Scenario</th>
        <th>Cohort </th>
        <th>[>=1]</th>
        <th>[>=2]</th>
        <th>[>=3]</th>
        <th>[>=4]</th>
        <th>[>=5]</th>
        <th colspan="2">
          <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sohwnAllPoFBands">
        <td [attr.title]="data.scenarioName">{{data.scenarioName}}</td>
        <td [attr.title]="data.cohortName">{{data.cohortName}}</td>
        <td [attr.title]="data._1">{{data._1}}</td>
        <td [attr.title]="data._2">{{data._2}}</td>
        <td [attr.title]="data._3">{{data._3}}</td>
        <td [attr.title]="data._4">{{data._4}}</td>
        <td [attr.title]="data._5">{{data._5}}</td>
        <td class="buttonEffect" (click)=onEditRow(data)>
          <span class="edit">Edit</span>
        </td>
        <td class="buttonEffect" (click)="onDeleteRow(data.id)">
          <span class="delete">Delete</span>
        </td>
      </tr>
      <tr *ngIf="allPoFBands.length > 10">
        <td colspan="11">
          <p-paginator [rows]="10" [totalRecords]="allPoFBands.length" [rowsPerPageOptions]="[10,20,30]"
          (onPageChange)="onPageChange($event)"></p-paginator>
        </td>
      </tr>
    </tbody>
  </table>
</main>