<main>
  <h2>Config Fields</h2>
  <form action="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="G-flex">
      <div class="labels">
        <div><label for="tab">Tab</label></div>
        <div><label for="internalFieldRef">Internal Field Reference</label></div>
        <div><label for="fieldNameInSheet">Field Name In Sheet</label></div>
        <div><label for="column">Column</label></div>
      </div>
      <div>
        <div><input type="text" id="tab" formControlName="tab"></div>
        <div><input type="text" id="internalFieldRef" formControlName="internalFieldRef"></div>
        <div><input type="text" id="fieldNameInSheet" formControlName="fieldNameInSheet"></div>
        <div><input type="text" id="column" formControlName="column"></div>
     </div>
    </div>
    
    <button type="submit">Config Fields</button>
  </form>
</main>