<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyBudgetYears()" (deleteTriggered)="deleteBudgetYears()"></app-control-tables>
  <div class="budget-year">
    <p-table #dt [value]="allBudgetYears" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [globalFilterFields]="['Scenario','BudgetSource', 'ExceedanceAllowance', 'BudgetName']"  (onPage)="paginate($event)"
      [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
      <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="Scenario">Scenario<p-sortIcon field="Scenario"></p-sortIcon></th>
            <th pSortableColumn="BudgetSource">Budget Source<p-sortIcon field="BudgetSource"></p-sortIcon></th>
            <th pSortableColumn="ExceedanceAllowance">Exceeded Allowance<<p-sortIcon field="ExceedanceAllowance"></p-sortIcon></th>
            <th pSortableColumn="BudgetName">Budget<p-sortIcon field="BudgetName"></p-sortIcon></th>
            <th>2022</th>
            <th>2023</th>
            <th>2024</th>
            <th>2025</th>
            <th>2026</th>
            <th>2027</th>
            <th>2028</th>
            <th>2029</th>
            <th>2030</th>
            <th>2031</th>
            <th>2032</th>
            <th>2033</th>
            <th>2034</th>
            <th>2035</th>
            <th>2036</th>
            <th>2037</th>
            <th>2038</th>
            <th>2039</th>
            <th>2040</th>
            <th>2041</th>
            <th>2042</th>
            <th>2043</th>
            <th>2044</th>
            <th>2045</th>
            <th>2046</th>
            <th>2047</th>
            <th>2048</th>
            <th>2049</th>
            <th>2050</th>
            <th>2051</th>
            <th>2052</th>
            <th>2053</th>
            <th>2054</th>
            <th>2055</th>
            <th>2056</th>
            <th>2057</th>
            <th>2058</th>
            <th>2059</th>
            <th>2060</th>
            <th>2061</th>
            <th>2062</th>
            <th>2063</th>
            <th>2064</th>
            <th>2065</th>
            <th>2066</th>
            <th>2067</th>
            <th>2068</th>
            <th>2069</th>
            <th>2070</th>
            <th>2071</th>
              <th colspan="2" class="fixedColumn">
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
              </th>
              <th class="fixedColumn">
                <input class="checkbox" type="checkbox" [(ngModel)]="isPageChecked" (change)="onCheckPage($event, dt)">
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td [attr.title]="data.Scenario">{{data.Scenario}}</td>
            <td [attr.title]="data.BudgetSource">{{data.BudgetSource}}</td>
            <td [attr.title]="data.ExceedanceAllowance">{{data.ExceedanceAllowance}}</td>
            <td [attr.title]="data.BudgetName">{{data.BudgetName}}</td>

            <td *ngFor="let year of years">
              <ng-template [ngIf]="index === i" [ngIfElse]="showValue">
                <input type="text" class="editableBudget" [value]="data[year] ? data[year] : ''">
              </ng-template>
              <ng-template #showValue>
                {{data[year] | number: '.2-2'}}
              </ng-template>
            </td>

            <td class="buttonEffect fixedColumnEdit" (click)=onEditRow(i)>
              <span class="edit">{{index === i ? 'Save': 'Edit'}}</span>
            </td>
            <td class="buttonEffect fixedColumnDelete" (click)="onDeleteRow(data.BudgetId)">
              <span class="delete">Delete</span>
            </td>
            <td class="fixedColumn">
              <input class="checkbox" type="checkbox" [checked]="data.check" (change)="onChecked($event, i)">
            </td>
          </tr> 
      </ng-template>
    </p-table>
  </div>
</main>