<table>
  <caption>Config - Curves</caption>
  <thead>
    <tr>
      <th>Scenario</th>
      <th>Cohort</th>
      <th>Calculation</th>
      <th>PoF Curve</th>
      <th>PoF NAV</th>
      <th>Health Curve</th>
      <th>Health NAV</th>
      <th>PoF Constant</th>
      <th>Health Constant</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let curve of curves">{{curve}}</td>
      <td (click)=onEditRow(curves) class="buttonEffect">Edit</td>
      <td class="buttonEffect" (click)="onDeleteRow()">Delete</td>
    </tr>
    
  </tbody>
</table>