<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyIntOptions()"></app-control-tables>
  <table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <!-- <caption>Config - Intervention Options</caption> -->
    <thead>
      <tr>
        <th>Scenario</th>
        <th>Cohort</th>
        <th>Intervention</th>
        <th>Available</th>
        <th>Reset</th>
        <th>Apply When Mlc <</th>
        <th>Exclude If Crc</th>
        <th>forceReplace</th>
        <th>whenAlc</th>
        <th>replaceWithCohortId</th>
        <th colspan="3">
          <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of shownAllInterventionOptions; let i = index">
        <td [attr.title]="data.scenario.value">{{data.scenario.value}}</td>
        <td [attr.title]="data.cohort.value">{{data.cohort.value}}</td>
        <td [attr.title]="data.intervention">{{data.intervention}}</td>
        <td [attr.title]="data.available">{{data.available}}</td>
        <td [attr.title]="data.reset">{{data.reset}}</td>
        <td [attr.title]="data.applyWhenMlc">{{data.applyWhenMlc}}</td>
        <td [attr.title]="data.excludeIfCrc">{{data.excludeIfCrc}}</td>
        <td [attr.title]="data.forceReplace">{{data.forceReplace}}</td>
        <td [attr.title]="data.whenAlc">{{data.whenAlc}}</td>
        <td [attr.title]="data.replaceWithCohortId">{{data.replaceWithCohortId}}</td>
        <td class="buttonEffect" (click)="onEditRow(data, i)">
          <span class="edit">Edit</span>
        </td>
        <td class="buttonEffect" (click)="onDeleteRow(data.interventionId)">
          <span class="delete">Delete</span>
        </td>
        <td>
          <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
        </td>
      </tr>
      <tr *ngIf="allInterventionOptions.length > 10">
        <td colspan="13">
          <p-paginator [rows]="10" [totalRecords]="allInterventionOptions.length" [rowsPerPageOptions]="[10,20,30]"
          (onPageChange)="onPageChange($event)"></p-paginator>
        </td>
      </tr>
    </tbody>
  </table>
</main>