<!-- <alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyCohorts()"></app-control-tables>
  <table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <caption>Config - Cohort</caption>
    <thead>
      <tr>
        <th>Cohorts</th>
        <th>Description</th>
        <th colspan="3">
          <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of shownAllCohorts; let i = index">
        <td [attr.title]="data.cohorts">{{data.cohorts}}</td>
        <td [attr.title]="data.description">{{data.description}}</td>
        <td class="buttonEffect" (click)="onEditRow(data, i)">
          <span class="edit">Edit</span>
        </td>
        <td class="buttonEffect" (click)="onDeleteRow(data.cohortId)">
          <span class="delete">Delete</span>
        </td>
        <td>
          <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
        </td>
      </tr>
      <tr *ngIf="allCohorts.length > 10">
        <td colspan="5">
          <p-paginator [rows]="10" [totalRecords]="allCohorts.length" [rowsPerPageOptions]="[10,20,30]"
          (onPageChange)="onPageChange($event)"></p-paginator>
        </td>
      </tr>
    </tbody>
  </table>
</main> -->


<alert-message [msgDetails]="msgDetails"></alert-message>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables (copyTriggered)="copyCohorts()"></app-control-tables>
  <p-table #dt [value]="allCohorts" [paginator]="true" [rows]="10" [globalFilterFields]="['cohorts','description']" [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="cohorts">Cohorts<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="description">Description<p-sortIcon field="country"></p-sortIcon></th>
            <th colspan="3">
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
              <!-- <input type="text" placeholder="Search" (input)="filterData($event.target.value)"> -->
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-i="rowIndex">
        <tr>
          <td [attr.title]="data.cohorts">{{data.cohorts}}</td>
          <td [attr.title]="data.description">{{data.description}}</td>
          <td class="buttonEffect" style="width: 1rem" (click)="onEditRow(data, i)">
            <span class="edit">Edit</span>
          </td>
          <td class="buttonEffect" (click)="onDeleteRow(data.cohortId)">
            <span class="delete">Delete</span>
          </td>
          <td>
            <input class="checkbox" type="checkbox" [checked]="unCheckAll" (change)="onChecked(data, $event, i)">
          </td>
        </tr>
        
    </ng-template>
  </p-table>
</main>