<div class="messgae">
  <p-message severity="{{msgDetails?.severity}}" text="{{ msgDetails?.msg }}"></p-message>
</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main>
  <app-control-tables [path]="createPath"></app-control-tables>
  <table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
    <!-- <caption>Config - Cohort</caption> -->
    <thead>
      <tr>
        <th>Cohorts</th>
        <th>Description</th>
        <th colspan="3">
          <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of shownAllCohorts; let i = index">
        <td [attr.title]="data.cohorts">{{data.cohorts}}</td>
        <td [attr.title]="data.description">{{data.description}}</td>
        <td class="buttonEffect" (click)="onEditRow(data, i)">
          <span class="edit">Edit</span>
        </td>
        <td class="buttonEffect" (click)="onDeleteRow(data.cohortId)">
          <span class="delete">Delete</span>
        </td>
        <td>
          <input class="checkbox" type="checkbox" (change)="onChecked(data)">
        </td>
      </tr>
      <tr *ngIf="allCohorts.length > 10">
        <td colspan="5">
          <p-paginator [rows]="10" [totalRecords]="allCohorts.length" [rowsPerPageOptions]="[10,20,30]"
          (onPageChange)="onPageChange($event)"></p-paginator>
        </td>
      </tr>
    </tbody>
  </table>
</main>