@import 'src/assets/flex';
@import 'src/assets/form-style';

.G-column div {
  padding: 3.8px 15px 3.8px 0;
}

.inputs {
  div {
    padding: 3px 15px 3px 0;
  }

  select {
    width: 170px;
  }
}

.checkboxes {
  div {
    padding: 4.2px;
  }
}

.checkbox-labels {
  div {
    padding: 5px;
  }
}

label {
  padding: 10px 0;
}