@import 'src/assets/flex';

h2{
  text-align: center;
}

form {
  width: 700px;
  margin: auto;
  padding: 15px;
  border: 2px solid green;
  border-radius: 8px;
}

.G-column div {
  padding: 3.8px 15px;
}

.inputs {
  div {
    padding: 3px 15px;
  }

  select {
    width: 170px;
  }
}

.checkboxes {
  div {
    padding: 4.2px;
  }
}

.checkbox-labels {
  div {
    padding: 5px;
  }
}

button {
  width: 95%;
  margin: 20px;
  padding: 3px 0;
  background-color: rgb(126, 228, 100);
  border-style: none;
  border-radius: 10px;
}