<main>
  <h2>Model Configuration</h2>
  <form action="" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="G-flex-justify-between">
    <div class="G-flex">
      <div class="G-column">
        <div><label for="model-name">Model name</label></div>
        <div><label for="base-year">Base year</label></div>
        <div><label for="years-to-run">Years to run</label></div>
        <div><label for="lifecycles">Skip these Lifecycles</label></div>
        <div><label for="sources">Skip these Asset Sources</label></div>
        <div><label for="classes">Skip these Unit Classes</label></div>
        <div><label for="run-scenarios">Scenarios to Run</label></div>
        <div><label for="range">Condition Range</label></div>
        <div><label for="nr-columns">NR Model Columns</label></div>
      </div>
      <div class="inputs">
        <div><input type="text" id="model-name" formControlName="modelName"></div>
        <div><input type="number" id="base-year" formControlName="baseYear"></div>
        <div><input type="number" id="years-to-run" value="20" min="1" max="50" style="width: 95%" formControlName="yearsToRun"></div>
        <div>
          <select name="" id="lifecycles" formControlName="lifecycles">
          <option value="">Select</option>
        </select> </div>
        <div><select name="" id="sources" formControlName="sources">
          <option value="">Select</option>
        </select> </div>
        <div><select name="" id="classes" formControlName="classes">
          <option value="">Select</option>
        </select> </div>
        <div><select name="" id="run-scenarios" formControlName="run">
          <option value="">Select</option>
        </select> </div>
        <div><input type="number" id="range" formControlName="range" min="1" max="5" style="width: 95%" ></div>
        <div><input type="number" id="nr-columns" min="0" formControlName="nrColumns"></div>
      </div>
    </div>
    <div class="G-flex">
      <div class="checkboxes">
        <div><input type="checkbox" name="" id="checkbox1" formControlName="unitCompSeparated"></div>
        <div><input type="checkbox" name="" id="checkbox2" formControlName="firstPostOpt"></div>
        <div><input type="checkbox" name="" id="checkbox3" formControlName="debugMode"></div>
        <div><input type="checkbox" name="" id="checkbox4" formControlName="allowOverwriteBudget"></div>
      </div>
      <div class="checkbox-labels">
        <div><label for="checkbox1">Units and Components Separated?</label></div>
        <div><label for="checkbox2">First Past the Post Option?</label></div>
        <div><label for="checkbox3">Debug Mode?</label></div>
        <div><label for="checkbox4">Allow Overwrite To Exceed Budget?</label></div>
      </div>
    </div>
    </div>
    <button type="submit">Run Scenarios</button>
  </form>
</main>