<div class="messgae">
  <p-message severity="{{severity}}" text="{{ msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <caption>Config - Fields</caption>
  <thead>
    <tr>
      <th>Tab</th>
      <th>Internal Field Reference</th>
      <th>Field Name In Sheet</th>
      <th>Column</th>
      <th>Mandatory For Model</th>
      <th colspan="2">
        <input type="text" placeholder="search" (input)="filterData($event.target.value)">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of shownAllFields">
      <td>{{data.tab}}</td>
      <td>{{data.internalFieldReference}}</td>
      <td>{{data.fieldNameInSheet}}</td>
      <td>{{data.column}}</td>
      <td>{{data.mandatoryForModel}}</td>
      <td class="buttonEffect" (click)=onEditRow(data)>Edit</td>
      <td class="buttonEffect" (click)="onDeleteRow(data.id)">Delete</td>
    </tr>
    <tr *ngIf="allFields.length > 10">
      <td colspan="7">
        <p-paginator [rows]="10" [totalRecords]="allFields.length" [rowsPerPageOptions]="[10,20,30]"
        (onPageChange)="onPageChange($event)"></p-paginator>
      </td>
    </tr>
  </tbody>
</table>
