<table>
  <caption>Model Configuration</caption>
  <thead>
    <tr>
      <th>Model</th>
      <th>Base year</th>
      <th>Years to run</th>
      <th>Skip these Lifecycles</th>
      <th>Skip these Asset Sources</th>
      <th>Skip these Unit Classes</th>
      <th>Scenarios to Run</th>
      <th>Condition Range</th>
      <th>Data Model Output Templates</th>
      <th>NR Model Columns</th>
      <th>Debug Mode</th>
      <th>Allow Overwrite To Exceed Budget</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>