<div class="messgae">
  <p-message severity="{{msgDetails?.severity}}" text="{{ msgDetails?.msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<main [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <h1>Config Rates</h1>
  <form action="" [formGroup]="formGroup">
    <div class="G-flex-justify-around">
      <div class="G-column gap">
        <div class="G-flex-center-between">
          <label for="scenarioId" class="label-for-select">Scenario Id</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Scenario</mat-label>
            <mat-select formControlName="scenarioId">
              <mat-option *ngFor="let scenario of scenarioData" [value]="scenario.id">{{scenario.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label for="cohortId">Cohort Id</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Cohort</mat-label>
            <mat-select formControlName="cohortId">
              <mat-option *ngFor="let cohort of cohortData" [value]="cohort.id">{{cohort.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label for="intervention">Intervention</label>
          <input type="text" id="intervention" formControlName="intervention">
        </div>
        <div class="G-flex-center-between">
          <label for="geography">Geography</label>
          <input type="text" id="geography" formControlName="geography">
        </div>
        <div class="G-flex-center-between">
          <label for="budgetSource">Budget Source</label>
          <input type="text" id="budgetSource" formControlName="budgetSource">
        </div>
        <div class="G-flex-center-between">
          <label for="value">Value</label>
          <input type="number" id="value" formControlName="value">
        </div>
        <div class="G-flex-center-between">
          <label for="rateType">Rate Type</label>
          <input type="text" id="rateType" formControlName="rateType">
        </div>
        <div class="G-flex-center-between">
          <label for="minimumCost">Minimum Cost</label>
          <input type="number" id="minimumCost" formControlName="minimumCost">
        </div>
        <div class="G-flex-center-between">
          <label for="rangeType">Range Type</label>
          <input type="text" id="rangeType" formControlName="rangeType">
        </div>
        <div class="G-flex-center-between">
          <label for="from1">From 1</label>
          <input type="number" id="from1" formControlName="from1">
        </div>
        <div class="G-flex-center-between">
          <label for="value1">Value 1</label>
          <input type="number" id="value1" formControlName="value1">
        </div>
        <div class="G-flex-center-between">
          <label for="from2">From 2</label>
          <input type="number" id="from2" formControlName="from2">
        </div>
        <div class="G-flex-center-between">
          <label for="value2">Value 2</label>
          <input type="number" id="value2" formControlName="value2">
        </div>
      </div>
    </div>

    <button type="submit" *ngIf="!isOnEdit" (click)="addConfig()">Submit</button>
    <button type="submit" *ngIf="isOnEdit" (click)="editConfig()">Submit</button>
    <button type="button" (click)="goBack()">Go back</button>
  </form>
</main>