@import './variables';

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

form {
  width: 740px;
  margin: auto;
  padding: 15px;
  border: 2px solid $border-color;
  border-radius: 8px;

  .gap > div {
      margin: 5px 0;
  }
}

button {
  width: 250px;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  margin: 20px auto;
  padding: 3px 0;
  background-color: $button-bg;
  border-style: none;
  border-radius: 10px !important;

  &:hover {
    background-color: $button-bg-hover;
  }
}

label {
  width: 170px;
}

input, select {
  width: 200px;
  height: 25px;
}

.dropdown {
  max-height: 43px;
}

.checkbox{
    width: 30px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0.75em !important;
}