/* You can add global styles to this file, and also import other style files */
@import 'src/assets/styles/normalize';
@import 'src/assets/styles/flex';
@import 'src/assets/styles/mixins';

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
  padding: 15px;
  text-align: center;
}
 
h1 {
  font-size: calc(3 * (0.4vw + 0.4vh));
}

h2 {
  font-size: calc(3 * (0.35vw + 0.35vh));
}

h3 {
  font-size: calc(3 * (0.28vw + 0.28vh));
}

p {
  font-size: calc(0.6em + 1vmin);
  letter-spacing: 0.15px;
  max-width: 1200px;
  text-align: left;
  padding: 8px;
  margin: auto;
}

.g-block-gray {
  background-color: #D3D3D3;
}
.g-block-pink {
  background-color: #FF6F004D;
}
.g-block-gray, .g-block-pink {
  padding: 1vh 2vw;
  width: 100%;
  margin-bottom: 15px;

  div {
    width: 50vw;
    height: 35vh;
    margin: auto;
    margin-bottom: 3vh;
  }
}

.g-main-page {
  margin: auto;
  max-width: 100%;
  padding-top: 20px;
  background-color: #F6F7F9;
}

.animal-image {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

//style of auth section
.auth-form {
  color: $app-color !important;
  background: #fff 0 0 no-repeat padding-box;
  box-shadow: 7px 7px 6px rgb(0 0 0 / 16%);
  border: 3px solid #707070;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
}

form {
  width: 100%;
  color: $app-color;
}

.form-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 50px;

  input {
    width: 280px;
    border: none;
    border-bottom: 2px solid $app-color;
    text-indent: 10px;
    letter-spacing: 1px;
    padding: 15px;
  }

  input:hover, input:focus {
    border-color: $app-color;
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  ::placeholder {
    color: $app-color;
  }

  a {
    color: $app-color;
    font-size: medium;
    font-weight: bold;
    padding-right: 15px;
  }
}

button {
  height: 35px;
  box-shadow: 5px 5px 6px rgb(0 0 0 / 16%);
  border: none;
  border-radius: 8px;
  font-size: medium;
  background-color: $app-color;
  color:#fff;
  margin: 10px 0;
}

button:focus {
  outline: none;
}

@include phones {
  body {
    word-wrap: break-word;
  }

  .g-block-gray, .g-block-pink {
    padding: 5px;

    .animal-image {
      height: 25vh;
      background-size: cover;
    }
  }

  .auth-form {
    width: 295px;

    a, button {
      font-size: small;
    }

  }

  .form-field {
    flex-direction: column;
    align-items: center; 
    padding: 0 15px;

    label {
      font-size: small;
    }

    input {
      width: 195px;
      font-size: 12px;
      padding: 10px;
    }
  }
}

@include tablets {
  .g-block-gray, .g-block-pink {
    .animal-image {
      height: 20vh;
      margin-bottom: 1vh;
    }
  }

  .auth-form {
    width: 380px
  }

  .form-field {
    flex-direction: column;
    align-items: center; 
    padding: 0 15px;
  }
}


@include laptops {
  .g-block-gray, .g-block-pink {
    .animal-image {
      width: 40vw;
      height: 28vh;
      background-size: 90%;
    }
  }
}

@include desktops {
  .g-block-gray, .g-block-pink {
    .animal-image {
      width: 35vw;
      height: 35vh;
    }
  }
}