table, th, td {
  border: 1.5px solid;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin: auto;
  margin-top: 25px;

  
  * {
    box-sizing: unset !important;
  }

  input {
    width: 140px;
  }

  caption {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 15px;
  }

  th {
    padding: 3px;
    background-color: #dde4e2;
    max-width: 160px;
  }

  td {
    padding: 3px;
    background-color: azure;
  }
}

.buttonEffect {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: brown;
  }
}

.messgae {
  position: fixed;
  top: 20px;
  left: 45%;
}

::ng-deep p-paginator {
  button {
    width: 15px !important;
  }
}

.edit {
 color: #2e31b9;
}

.delete {
 color: #c40808;
}