<div class="messgae">
  <p-message severity="{{severity}}" text="{{ msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<table [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <caption>Config - Rates</caption>
  <thead>
    <tr>
      <th>Scenario</th>
      <th>Cohort</th>
      <th>Intervention</th>
      <th>Geography</th>
      <th>Budget Source</th>
      <th>Value</th>
      <th>Rate Type</th>
      <th>Minimum Cost</th>
      <th>Range Type</th>
      <th>From1</th>
      <th>Value1</th>
      <th>From2</th>
      <th>Value2</th>
      <th colspan="2">
        <input type="text" placeholder="search" (input)="filterData($event.target.value)">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of shownAllRates">
      <td>{{data.scenarioId}}</td>
      <td>{{data.cohortId}}</td>
      <td>{{data.intervention}}</td>
      <td>{{data.geography}}</td>
      <td>{{data.budgetSource}}</td>
      <td>{{data.value}}</td>
      <td>{{data.rateType}}</td>
      <td>{{data.minimumCost}}</td>
      <td>{{data.rangeType}}</td>
      <td>{{data.from1}}</td>
      <td>{{data.value1}}</td>
      <td>{{data.from2}}</td>
      <td>{{data.value2}}</td>
      <td class="buttonEffect" (click)=onEditRow(data)>Edit</td>
      <td class="buttonEffect" (click)="onDeleteRow(data.ratesId)">Delete</td>
    </tr>
    <tr *ngIf="allRates.length > 10">
      <td colspan="15">
        <p-paginator [rows]="10" [totalRecords]="allRates.length" [rowsPerPageOptions]="[10,20,30]"
        (onPageChange)="onPageChange($event)"></p-paginator>
      </td>
    </tr>
  </tbody>
</table>