<div class="messgae">
  <p-message severity="{{ msgDetails?.severity }}" text="{{ msgDetails?.msg }}"></p-message>
</div>
<p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000"></p-confirmDialog>
<app-loading *ngIf="isLoading"></app-loading>
<main [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <app-control-tables [path]="createPath"></app-control-tables>
  <table>
    <!-- <caption>Config - Intervention Options</caption> -->
    <thead>
      <tr>
        <th>Scenario</th>
        <th>Cohort</th>
        <th>Intervention</th>
        <th>Available</th>
        <th>Reset</th>
        <th>Apply When Mlc</th>
        <th>Exclude If Crc</th>
        <th>forceReplace</th>
        <th>whenAlc</th>
        <th>replaceWithCohortId</th>
        <th colspan="2">
          <input type="text" placeholder="Search" (input)="filterData($event.target.value)">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of shownAllInterventionOptions">
        <td [attr.title]="data.scenarioName">{{data.scenarioName}}</td>
        <td [attr.title]="data.cohortName">{{data.cohortName}}</td>
        <td [attr.title]="data.intervention">{{data.intervention}}</td>
        <td [attr.title]="data.available">{{data.available}}</td>
        <td [attr.title]="data.reset">{{data.reset}}</td>
        <td [attr.title]="data.applyWhenMlc">{{data.applyWhenMlc}}</td>
        <td [attr.title]="data.excludeIfCrc">{{data.excludeIfCrc}}</td>
        <td [attr.title]="data.forceReplace">{{data.forceReplace}}</td>
        <td [attr.title]="data.whenAlc">{{data.whenAlc}}</td>
        <td [attr.title]="data.replaceWithCohortId">{{data.replaceWithCohortId}}</td>
        <td class="buttonEffect" (click)=onEditRow(data)>
          <span class="edit">Edit</span>
        </td>
        <td class="buttonEffect" (click)="onDeleteRow(data.interventionId)">
          <span class="delete">Delete</span>
        </td>
      </tr>
      <tr *ngIf="allInterventionOptions.length > 10">
        <td colspan="12">
          <p-paginator [rows]="10" [totalRecords]="allInterventionOptions.length" [rowsPerPageOptions]="[10,20,30]"
          (onPageChange)="onPageChange($event)"></p-paginator>
        </td>
      </tr>
    </tbody>
  </table>
</main>