article {
  width: 160px;

  input {
    width: 140px;
  }
}

table {
   margin-top: 50px !important;

  td {
    span {
      margin: 0 2px;
      img {
        width: 20px;
      }
    }
  }
}

section {
  padding: 15px;

  button {
    margin: 5px 0;
    width: 140px;
    background-color: rgba(27, 105, 223, 0.658);
    color: white;
  }
}