<div class="G-flex-justify-center">
  <p-message severity="{{severity}}" text="{{ msg }}"></p-message>
</div>
<app-loading *ngIf="isLoading"></app-loading>
<main [ngStyle]="isLoading && {'filter': 'blur(4px)'}">
  <h1>Config PoF Bands</h1>
  <form action="" [formGroup]="formGroup">
    <div class="G-flex-justify-around">
      <div class="G-column gap">
        <div class="G-flex-center-between">
          <label for="scenarioId">Scenario Id</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Scenario</mat-label>
            <mat-select formControlName="scenarioId">
              <mat-option *ngFor="let scenario of scenarioData" [value]="scenario.id">{{scenario.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label for="cohortId">Cohort Id</label>
          <mat-form-field appearance="fill" class="dropdown">
            <mat-label>Cohort</mat-label>
            <mat-select formControlName="cohortId">
              <mat-option *ngFor="let cohort of cohortData" [value]="cohort.id">{{cohort.value}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="G-flex-center-between">
          <label for="1">[>=1]</label>
          <input type="number" id="1" formControlName="_1">
        </div>
        <div class="G-flex-center-between">
          <label for="2">[>=2]</label>
          <input type="number" id="2" formControlName="_2">
        </div>
        <div class="G-flex-center-between">
          <label for="3">[>=3]</label>
          <input type="number" id="3" formControlName="_3">
        </div>
        <div class="G-flex-center-between">
          <label for="4">[>=4]</label>
          <input type="number" id="4" formControlName="_4">
        </div>
        <div class="G-flex-center-between">
          <label for="5">[>=5]</label>
          <input type="number" id="5" formControlName="_5">
        </div>
      </div>
    </div>
   
    <button type="submit" *ngIf="!isOnEdit" (click)="addConfig()">Submit</button>
    <button type="submit" *ngIf="isOnEdit" (click)="editConfig()">Submit</button>
    <button type="button" *ngIf="isOnEdit" (click)="goBack()">Go back</button>
  </form>
</main>
