/* You can add global styles to this file, and also import other style files */

@import 'src/assets/styles/form-style';
@import 'src/assets/styles/table-style';
@import 'src/assets/styles/flex';
@import 'src/assets/styles/variables';

p-paginator {
  button {
    width: 15px !important;
  }
}

.messgae {
  position: fixed;
  top: 10px;
  right: 60px;
}

.p-multiselect {
  min-width: 12.5rem;
}

.p-dropdown .p-dropdown-label {
  width: 160px;
}

.p-paginator .p-dropdown .p-dropdown-label {
  width: 40px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem;
  text-align: center;
  border: 0.5px solid $border-color;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem;
  border: 0.5px solid $border-color;
}

.p-datatable table {
   width: auto !important;
}