/* You can add global styles to this file, and also import other style files */

@import 'src/assets/styles/form-style';
@import 'src/assets/styles/table-style';
@import 'src/assets/styles/flex';
@import 'src/assets/styles/variables';

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 0.75em !important;
}

p-paginator {
  button {
    width: 15px !important;
  }
}

.messgae {
  position: fixed;
  top: 10px;
  right: 10px;
}