table, th, td {
  border: 0.5px solid $border-color;
  text-align: center;
}

table {
  min-width: 450px;
  margin: auto;
  margin-top: 15px;
  border-collapse: inherit;
  border-spacing: 0;

  caption {
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 15px;
  }

  input {
    width: 140px;
  }

  th, td {
    padding: 3px;
    max-width: 160px;
  }

  th {
    background-color: #dde4e2;
  }

  td {
    background-color: azure;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
  }
}

.buttonEffect {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: brown;
  }
}

.edit {
 color: #2e31b9;
}

.delete {
 color: #c40808;
}