$button-bg: rgb(126, 228, 100);
$border-color: rgb(121, 105, 105);
$button-bg-hover: rgb(97, 209, 68);
$button-table-bg: rgb(203, 214, 200);
$button-table-hover: rgb(225, 243, 220);

$table-width: 60vw;
// Resolutions
$phone: 600px;
$tablet: 600px;
$laptop: 992px;
$desktop: 1200px;